<h1>Health Tracker</h1>

<ul>
  <% @calorie_modifiers.each do |calorie_modifier| %>
    <% if calorie_modifier.is_intake %>
      <li><%= calorie_modifier.name %>: <%= calorie_modifier.calories %> calories</li>
    <% else %>
      <li><%= calorie_modifier.name %>: -<%= calorie_modifier.calories %> calories</li>
    <% end %>
  <% end %>
</ul>
